<ul>
    {{#each items}}
        <li>
            <a href="https://www.flickr.com/photos/{{user}}/" target="_blank"><img src="http://flickr.com/buddyicons/{{user}}.jpg"> <strong>{{some realname username}}</strong></a></td>
            <span class="count">({{count}})</span>
            <span class="date">{{daterange first_fav last_fav}}</span>
            {{following user ../contacts}}
        </li>
    {{/each}}
</ul>